Django==6.0
gunicorn
whitenoise
dj-database-url
psycopg2-binary
pillow
python-dotenv
requests
groq
google-generativeai
weasyprint
django-htmx
django-allauth
amadeus
PyJWT
cryptography
cloudinary
django-cloudinary-storage